/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

footer {
    background: $sc-color-theme-background;
    border-top: 1px solid $sc-color-theme-border;
    color: $sc-color-tertiary;
}
.footer-content {
    @extend .container;
    @extend .row;
    margin: auto;
}
.footer-content-nav {
    overflow: hidden;
    padding: $sc-base-padding * 5 0 0 0;
}
.footer-content-nav-list {
    list-style: none;
    margin: 0 0 10px;
    width: 100%;

    @media (min-width: 769px) {
        float: left;
        margin: 0 1%;
        width: 18%;
    }
}
.footer-content-nav-list > li,
.footer-connect > li {
    display: block;
    font-size: $sc-h5-font-size;
    padding-top: $sc-base-padding * 3;
    text-align: left;
    visibility: visible !important;

    @media (max-width: 767px) {
        display: none;
        font-size: 14px;
        height: auto !important;
        visibility: visible !important;
        padding-top: $sc-base-padding;
    }

    @media (min-width: $screen-sm-min) {
        display: list-item !important;
        font-size: 14px;
        height: auto !important;
        visibility: visible !important;
        padding-top: 15px;
    }

}
.footer-content-nav-list:first-child {
    margin-left: 0; 
}
.footer-content-nav-list-last {
    margin-bottom: 0;

    @media (min-width: $screen-sm-min) {
        margin-right: 0;
        width: 20%;
    }
}
.footer-connect {
    margin-right: 0;
    float: left;
    padding: $sc-base-padding * 6 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $sc-base-padding * 5;
    }

}
.footer-social {
    overflow: hidden;
}
.footer-social-item {
    display: block;
    float: left;
    margin-right: 12px;
    text-align: -webkit-match-parent;
}
.footer-social-item a {
    color: $sc-color-secondary;
}

.footer-content-nav .first {
    color: $sc-color-theme-light;
    display: list-item;
    font-size: $sc-h4-font-size;
    margin-bottom: 3px;
    text-transform: uppercase;
    .wf-active & {
        font-family: 'Work Sans', sans-serif;
    }
}

.footer-content-nav-list a {
    color: $sc-color-theme-background-light;
}
.footer-newsletter-email-form-input {
    @extend .input-large;
    display: inline;
}
.footer-newsletter-email-form-submit {
    @extend .button-large;
    @extend .button-primary;
   padding: $sc-base-padding * 2.2 $sc-base-padding * 3;
}
.footer-social-facebook-icon {
    font-size: 20px;
    color: white;
    @extend .fa;
    @extend %fa-facebook-square;
}
.footer-social-twitter-icon {
    color: white;
    font-size: 20px;
    @extend .fa;
    @extend %fa-twitter-square;
}
.footer-social-google-icon {
    color: white;
    font-size: 20px;
    @extend .fa;
    @extend %fa-google-plus-square;
}
.footer-social-pinterest-icon {
    color: white;
    font-size: 20px;
    @extend .fa;
    @extend %fa-pinterest-square;
}
.footer-content-copyright {
    clear: both;
    color: $sc-color-theme-light;
    font-size: $sc-smallest-font-size;
    margin-top: $sc-base-margin * 3;
    padding-bottom: 16px;
    padding-top: 16px;
    background:#2b292c;
    text-align:center;

    @media (min-width: $screen-md-min) {
        text-align: center;
    }
}
.footer-content-copyright ul li {
    display: inline-block;
    padding: 0 $sc-base-padding * 1;
}
.footer-content-copyright ul li a {
    color: $sc-color-theme-light;
}

div#operator_avatar {
    display: none !important;
}
a.live-chat {
    display: none;
}
.footer-content{
    position: relative;
    .footer-content-nav{
        padding: 25px 0 25px 0;
        li.footer-collapsed-list{
            padding-top: 8px;
            a{
                font-weight: 100;
                font-size: 13px;
            }
        }
        li.first{
            table{
                a{
                    position: absolute;
                    top: 0;
                    height: 40px;
                    background: white;
                    color: black;
                    right: 50px;
                }
            }
        }
        ul.footer-content-nav-list.company-name{
            li.footer-collapsed-list{
                i.phone-icon{
                    @extend .fa;
                    @extend %fa-phone;
                    display: inline-block;
                    color: $sc-color-primary;
                    padding: 10px 10px 10px 0;
                }
                i.envelope-icon{
                    @extend .fa;
                    @extend %fa-envelope;
                    display: inline-block;
                    color: $sc-color-primary;
                    padding: 10px 10px 10px 0;
                }
            }
        }
    }
}
