/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-details {
	@extend .container;
}

.item-details-content {

	@media (min-width: $screen-md-min) {
		margin-top: $sc-base-margin * 5;
	}
}

.item-details-info {
	.item-view-lead-price {
		@extend .large-price;
	}
}

.item-details-divider {

	margin: $sc-base-margin * 5 0;
	height:1px;
	background-color: $sc-color-theme-background;
	clear:both;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-divider-desktop {
	display: none;

	@media (min-width: $screen-md-min) {
		@extend .item-details-divider;
		margin-top:20px;
		border: none;
		display: block;
	}
}

.item-details-main-content {
	@extend .row;
	margin-top: 40px;
}

.item-details-content-header {
	//@extend .col-md-6;
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
}

.item-details-rating-header {
	margin-top: $sc-base-margin;
	margin-bottom: $sc-base-margin * 4;

	.global-views-star-rating {
		float: none;
	}
}

.item-details-image-gallery-container{
	@extend .col-md-5;
	margin-bottom: 0;
	width: 37%;
	float: left;

	@media (min-width: $screen-md-min) {
		margin-bottom: $sc-large-margin;
	}

	@media (max-width: 767px){
		width: 100%;
		margin-bottom: 40px;
	}
}

.item-details-gallery-prev-icon, .item-details-gallery-next-icon{
	position: absolute;
	top: 40%;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	font-size: 50px;
	color:#c5d7e0;
	text-align: center;
	line-height: 0.8;
	@extend .fa;
}
.item-details-gallery-prev-icon:focus, .item-details-gallery-next-icon:focus {
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.item-details-gallery-prev-icon{
	left: 30px;
	@extend %fa-angle-left;
}

.item-details-gallery-next-icon{
	right:10px;
	@extend %fa-angle-right;
}

.item-details-carousel-next{
	@extend .button-tertiary;
	@extend .button-small;
	margin-left:$sc-base-margin * 2;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	right:0px;
	top:50%;
}

.item-details-carousel-prev{
	@extend .button-tertiary;
	@extend .button-small;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	left:0px;
	top:50%;
}
.item-details-carousel-next.disabled,
.item-details-carousel-prev.disabled {
	display: none;
}
.control-text{
	display:none;
}

.item-details-main {
	@media (min-width: $screen-md-min) {
		@extend .col-md-6;
	}

	width: 46%;
	float: left;

	@media(max-width: 767px){
		width: 70%;
	}
	@media(max-width: $screen-xs-min){
		width: 100%;
		margin: 0 auto;
	}
}

.banner-right-pdp{
	width: 15%;
    background: #ffffff;
    /*height: 403px;*/
    position: relative;
    float: right;
    text-align: center;
    margin-right: 15px;

    @media(max-width: 767px){
		width: 24%;
	}

	@media(max-width: $screen-xs-min){
		width: 35%;
	    margin: 0 auto;
	    overflow: hidden;
	    float: none;
	}

}

.item-details-price{
	margin-top:$sc-base-margin * 2;
}

.item-details-price .item-views-price-lead{
	@extend .small-price;


}

.item-views-price-lead{
  color: $sc-color-red;
}

.item-details-sku-container {
	margin-top: $sc-base-margin * 6;
	margin-bottom: $sc-base-margin;
	display: none;
	@extend .sku;
}

.item-details-options-pusher {
	@extend .push-button-primary;
	margin-top: $sc-base-margin * 5;
	font-weight: $sc-font-weight-semibold;
	position: relative;

	& > span {
		font-weight: $sc-font-weight-normal;
		text-transform: capitalize;
	}

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}

}

.item-details-options-content {
	height: 100%;
	margin-top:0;
	background: $sc-color-theme-background-light;

	.pdp-detail-options-content-wrapper{
		padding: $sc-base-padding * 4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
		padding-bottom: 0;
		overflow:hidden;
	}

	.item-view-lead-price {
		@extend .large-price;
	}
}

.item-details-options-content-price,
.item-details-options-content-stock {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}
.item-details-actions {
	margin-bottom: $sc-base-margin * 2;
}
.item-details-options-quantity-title {
	margin-bottom: $sc-base-margin * 2;
	display: block;
}
.item-details-options-quantity {
	margin-top:20px;
	font-weight:$sc-font-weight-bold;
	clear:both;
}

.item-details-options-quantity-title-help {
	clear: both;
	display: block;
	font-weight:$sc-font-weight-light;
	margin: $sc-base-margin * 2 0;
}

.item-details-add-to-cart-help{
	@extend .message-info;
	margin-top: $sc-base-margin * 3;
}

.item-details-add-to-cart-help-icon{
	@extend .fa;
	@extend %fa-info-circle;
	margin-right: $sc-base-margin;
}

.item-details-quantity-add, .item-details-quantity-remove{
	@extend .button-secondary;
	background-color:lighten($sc-color-theme, 20%);
	border:1px solid lighten($sc-color-theme, 20%);;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-quantity-value {
	height: $sc-target-size-mobile;
 	padding:$sc-base-margin * 2 $sc-base-padding * 3 $sc-base-margin * 2 $sc-base-padding * 3;
 	width: 90px;
 	text-align: right;
	background-color: #ebf1f4;
	border: 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	font-weight:$sc-font-weight-normal;
}

.item-details-actions-container {
	margin-left: -$sc-base-margin * 2;
	margin-right: -$sc-base-margin * 2;
	@extend .clearfix;
}

.item-details-add-to-cart,
.item-details-add-to-wishlist {
	@extend .col-sm-6;
	position: static;
	padding-left: $sc-base-padding * 2;
	padding-right: $sc-base-padding * 2;

	@media(max-width: $screen-sm-min){
		width: 100% !important;
	}
}

.item-details-add-to-cart-button{
	@extend .button-primary;
	@extend .button-large;
	width: 100%;
 	font-weight: $sc-font-weight-semibold;
 	margin-top: $sc-base-margin * 3;
}

.item-details-social-share {
	// @extend .message-box;
	// @extend .message-box-info;
	margin-bottom:$sc-base-margin * 4;
}

.item-details-price-message {
    @extend .message;
 }

.item-details-price-msg-description {
	@extend .message-info;
	margin-top: $sc-base-margin * 2;
    margin-bottom: $sc-base-margin * 2;
}

.item-details-price-login-to-see-price {
	font-weight: normal;
}


@media (min-width: $screen-md-min) {

	.item-details-content-header {
		width: 100%;
	    padding: 0;
	    margin-bottom: 20px;
	}

	.item-details-image-gallery-container {
		float: left;
	}

	.item-details-main {
		//float: right;
	}
}

.pdp-item-more-info-content {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
		overflow: auto;
	}
}

.item-details-info-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-base-margin * 3;
	position: relative;
	font-size: $sc-h4-font-size;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

.item-details-more-info-content-container {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
	}
}
[data-action="sc-pushing"].item-details-more-info-content-container {
	padding-bottom: $sc-base-padding * 2;
}
.item-details-more-info-content {
	margin-bottom: $sc-base-margin * 3;

	@media(max-width: $screen-sm-min){
		margin-top: 40px;
	}
}

.item-details-more-info-content ul {
	@extend .nav;
	@extend .nav-tabs;
	background-color: transparent;
	clear:both;

	@media (min-width: $screen-sm-min) {
		background-color: white;
	}

	// for speecificity comply
}

.item-details-info-hint {
	margin-top: $sc-base-margin * 3;
	color: $sc-color-copy;
	padding-right: $sc-base-padding * 3;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-details-tab-title a {
	background-color:$sc-color-theme-background;
	padding: $sc-base-padding * 4 $sc-base-padding * 6;
	float:left;
	margin-right: 2px;
	font-weight: $sc-font-weight-semibold;
	font-size:18px;
	text-transform: uppercase;
	color:$sc-color-theme;
}

.item-details-tab-title:only-child a{
	display:none;
}
.item-details-tab-title.active a {
	background-color:$sc-color-theme-background-light;
	color: $sc-color-theme-light;
}
.item-details-tab-content{
	@extend .item-details-more-info-content;
	background-color:$sc-color-theme-background-light;
	clear:both;

	h2{
		margin-bottom: $sc-base-margin * 4;
	}

	ul {
		background: none;
	}

	li{
		list-style: disc inside none;
		margin:5px 0 0 5px;
	}

	@media (min-width: $screen-sm-min){
		padding: $sc-base-padding * 6;
	}
}

[data-action="sc-pushing"] .item-details-tab-content{
	padding: $sc-base-padding * 3 $sc-base-padding * 6 $sc-base-padding * 6 0;
}
.item-details-more-info-content-tabs {
	display:none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}

.item-details-action {
	display: none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}
.item-details-main-bottom-banner {
	margin-bottom: $sc-medium-margin;
}
@media (min-width: $screen-sm-min){

	.item-details-tab-content-panel {
		display:none;
	}
	.item-details-tab-content-panel.active {
		display:block;
	}
}

.item-details-tab-content.show {
	.item-details-tab-content-panel {
		max-height: 100%;
	}
	.item-details-less {
		display: block;
	}
	.item-details-more {
		display: none;
	}
}
.item-details-tab-content-panel {
	background-color: $sc-color-theme-background-light;
	@media (min-width: $screen-sm-min){
		overflow: hidden;
		//max-height: 400px;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
		transition: max-height 0.5s;
	}
}
.item-details-less {
	display: none;
	margin-top: $sc-base-margin * 2;
}
.item-details-more {
	margin-top: $sc-base-margin * 2;
	display:block;
}
.item-details-product-review-content {
	@extend .item-details-more-info-content;
}
.item-details-product-review-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-base-margin * 3;

	.item-details-product-review-pusher-rating {
		display: inline-block;
		vertical-align: middle;
	}
	.global-views-star-rating-area {
		margin-left: $sc-base-margin * 2;
		float: right;
	}
}
[data-type="sc-pusher"] {
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
}
.item-details-rating-header {
	.global-views-star-rating-area {
		margin-right: $sc-base-margin;
	}
	.global-views-star-rating i {
		font-size: 20px;
	}
}

.item-details-text-required-reference {
	@extend .input-required;	
}

.item-details-text-required-reference-container {
	padding:$sc-base-padding * 3 0;
}

.quick-view-confirmation-modal{
  .item-views-price-lead{
	color:$sc-color-red;
  }
}
.item-views-price{
  .item-views-price-lead{
	font-size: $sc-h2-font-size;
  }
}
.cart-detailed-body{
  .item-views-price-lead{
	color:$sc-color-red;
  }
}
.quantity-pricing {
  width: 140px;

  .quantity-pricing-title {
	color: $sc-color-primary;
	letter-spacing: normal;
	margin-bottom: $sc-base-margin;
	text-transform: none;
  }

  .item-details-min-qry {
	color: $sc-color-theme;
	float: left;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: $sc-base-margin;
	width: 50%;
  }

  .item-details-min-qry-price {
	  color:$sc-color-red;
	  float: left;
	  font-size: 14px;
	  font-weight: 400;
	  margin-bottom: $sc-base-margin;
	  width: 50%;
  }
}

.item-details-storedescription {
  margin-bottom: $sc-base-margin*4;
}

.item-details-no-price-message{
	color: $sc-color-red;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: $sc-base-margin;
}

.stock-message-pdp {
	display: table;
    width: 100%;
    margin: 15px 0 0;
	img {
	    width: 70px;
	    display: inline-block;
	    vertical-align: middle;
	}
	.stock-text br {
	    display: none;
	}
	.stock-text {
	    margin-left: 10px;
	    display: inline-block;
	    width: calc(100% - 90px);
	    vertical-align: middle;
	    b {
	    	color: inherit;
	    }
	}
}
.item-details-image-gallery{
	.item-details-gallery-prev-icon{
		left: 10px;
	}
}
.quick-view-confirmation-modal-details, .item-details-main{
	.facets-item-cell-list-LTL{
		margin: 10px 0 15px 0;
		img{
			width: 32px;
		}
	}
}

.quick-view-confirmation-modal-options {
	select.item-views-option-dropdown-select
	, .item-views-option-text input {
		padding: 0 0 0 5px;
		height: 23px;
		background: none;
		color: #000000;
		border: 1px solid #000000;
		-webkit-appearance: menulist;
		-moz-appearance: menulist;
	}
	> div > div {
		margin-top: 5px;
	}
	.item-views-option-text-title {
	    font-size: 13px;
	    color: #404040;
	    line-height: 1.6;
	    font-weight: 400;
	    margin-bottom:0; 
	}
	.item-views-option-text input {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	}

}

.quick-view-confirmation-modal-details b {
    color: inherit;
}