/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-category-browse-content {
	@extend .facets-facet-browse-content;
}

.facets-category-browse-results {
	@extend facets-facet-browse-results
}

.facets-category-browse-content h3 {
	text-transform: none
}

.facets-faceted-navigation-item-category-icon-ok {
	@extend .fa;
	@extend .fa-plus;
}

.facets-faceted-navigation-item-category-icon-plus {
	@extend .fa;
	@extend .fa-plus;
}

.facets-faceted-navigation-item-category-optionlist-extra-button {
	@extend .button-tertiary;
	@extend .button-small;
}

.facets-faceted-navigation-item-category-facet-group {
	padding-left: 0px;

	.dropdown-menu {
		position: relative;
		z-index: inherit;
	}
}

.facets-faceted-navigation-item-category-facet-group-expander {
	@extend .facets-faceted-navigation-facet-group-expander;
}

.facets-faceted-navigation-item-category-facet-group-expander-icon {
	@extend .facets-faceted-navigation-facet-group-expander-icon;
}


.facets-faceted-navigation-item-category-facet-group-title {
	@extend .facets-faceted-navigation-facet-group-title;
}

.facets-faceted-navigation-item-category-facet-option {
	@extend .facets-faceted-navigation-facet-option;

	font-size: 15px;
}

.facets-faceted-navigation-item-category-facet-option-circle {
	@extend .facets-faceted-navigation-facet-option-circle;
}

.facets-faceted-navigation-item-category-alt-caption {
	display:none;
}

.facets-faceted-navigation-item-category-facet-multi {
	@extend .input-checkbox;
}