/*
 © 2015 NetSuite Inc.
 User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
 provided, however, if you are an authorized user with a NetSuite account or log-in, you
 may use this code subject to the terms that govern your access and use.
*/
.quick-order{
    overflow: visible;
}
.facets-facet-browse-facets{
    .quick-order{
        padding: 15px 10px 10px;
        margin-top: 25px;
        background: #f8f8f8;

        .quick-order-buttons{
            padding: 10px 15px 0px;
            .col-md-6{
               padding: 0 10px;
            }
            .quick-order-addline-button, 
            .quick-order-add-to-cart-button {
                width: 100%;
                padding: 11px;
                line-height: 22px;
                i {
                  display: none;
              }
            }
        }
    }
}
.quick-order-line {
    @extend .row;
    padding: 5px 0px;
    margin: 0;
}

.quick-order-line:hover{
    background-color: lighten($sc-color-light-copy, 45);
}

.quick-order-column-labels{
    @extend .row;
    margin: 0;
    padding: 20px 0 0;
}

// Item Column

.quick-order-item,
{
    @extend .col-md-7;
}
.quick-order-item-quantity{
    @extend .col-md-3;
}
.quick-order-remove{
    @extend .col-md-1;
}

.quick-order-item-label,
.quick-order-item {
    @extend .col-md-7;
    @extend .col-xs-8;
}

.quick-order-item-input {
    @extend .input-base;
    //width: 90%;
    /*max-width: 98px;*/
    width: 100%;
    float: left;
    min-width: unset;
}

.quick-order-item-button {
    background: none;
    width: 10%;
    float: left;
    line-height: 38px;
    padding: 5px 0px 0px 5px;
}

// Qty Column

.quick-order-qty-label{
    @extend .col-md-4;
}

.quick-order-qty-input {
    @extend .input-base;
    min-width: 45px;
    width: 100%;
    margin-bottom: 0;
}

// Status Column

.quick-order-status {
    @extend .col-md-1;
    @extend .col-xs-2;
    @media (min-width: $screen-md-min) {
        @extend .col-md-pull-1;
    }
    text-align: center;
}

.quick-order-status-found-instock {
    border: 1px solid #000;
    background-color: #14892c;
    color: #fff;
    border-radius: 8%;
    font-size: 0.6em;
    padding: 4px;
    display: block;
}

.quick-order-status-found-outofstock {
    border: 1px solid #000;
    background-color: #d04437;
    color: #fff;
    border-radius: 8%;
    font-size: 0.6em;
    padding: 4px;
    display: block;
}

.quick-order-status-min-quantity {
    border: 1px solid #000;
    background-color: #ffd351;
    color: #000;
    border-radius: 8%;
    font-size: 0.6em;
    padding: 4px;
    display: block;
    margin-top: 3px;
}

.quick-order-item-minqty-warning {
    border-color: #EB365D;
}

// Image Column

.quick-order-item-image-viewonly,
.quick-order-item-image {
    @extend .col-md-1;
    @extend .col-xs-2;
    @extend .col-md-pull-1;

}

.quick-order-item-image-placeholder {
    @extend .col-md-1;
    @extend .col-xs-2;
    @extend .col-md-offset-1;
    @extend .col-xs-offset-2;
    @extend .col-md-pull-1;
    display: none;
    @media (min-width: $screen-md-min) {
        display: inline;
    }
}

.quick-order-item-image-viewonly img,
.quick-order-item-image a img {
    width: 45px;
}

// Item name and sku Column

.quick-order-item-name,
.quick-order-item-name-viewonly {
    @extend .col-md-3;
    @extend .col-xs-4;
    @extend .col-md-pull-1;
}

.quick-order-item-name-placeholder {
    @extend .col-md-3;
    @extend .col-xs-4;
    @extend .col-md-pull-1;
    display: none;
    @media (min-width: $screen-md-min) {
        display: inline;
    }
}

.quick-order-item-sku {
    font-size: 0.8em;
}

// Price Column

.quick-order-item-price {
    @extend .col-md-1;
    line-height: 38px;
    @extend .col-xs-2;
    @extend .col-md-pull-1;
}

.quick-order-item-price-placeholder {
    @extend .col-md-1;
    line-height: 38px;
    @extend .col-xs-2;
    @extend .col-md-pull-1;
    display: none;
    @media (min-width: $screen-md-min) {
        display: inline;
    }
}


// Remove Column

.quick-order-remove {
    /*line-height: 38px;*/
    text-align: center;
    position: relative !important;
    top: 6px !important;
}

.quick-order-remove-label {
    @extend .col-md-1;
    @extend .col-xs-4;
    display: none;
    @media (min-width: $screen-md-min) {
        display: inline;
        @extend .col-md-push-6;
    }
}

.quick-order-remove-newline {
    @extend .col-md-offset-6;
}

// Results placeholder (grey boxes)

.quick-order-item-image-shape {
    width: 45px;
    height: 45px;
    background: #F3F3F3;
}

.quick-order-item-name-shape {
    width: 150px;
    height: 10px;
    background: #F3F3F3;
    margin-bottom: 3px;
}

.quick-order-item-price-shape {
    width: 50px;
    height: 10px;
    background: #F3F3F3;
}

// No results

.quick-order-lookup-noresults {
    @extend .col-md-4;
    @extend .col-xs-8;
    line-height: 38px;
}

// Results dropdown

.quick-order-lookup-results {
    @extend .col-md-4;
    @extend .col-xs-8;
}

.quick-order-lookup-results-group-label {
    @extend .input-label;
}

.quick-order-dropdown-select {
    @extend .input-large;
    max-width: 240px;
}

// Item added to cart - fade on success

.quick-order-item-addtocart-success {
    -webkit-transition: opacity 10s ease-in-out;
    -moz-transition: opacity 10s ease-in-out;
    -ms-transition: opacity 10s ease-in-out;
    -o-transition: opacity 10s ease-in-out;
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

.quick-order-item-addedtocart-message {
    text-align: center;
    line-height: 38px;
}

// Icons

.quick-order-search {
    @extend .fa;
    @extend %fa-search;
    font-size: 1.5em;
    color: $sc-color-secondary;
    background: none;
}

.quick-order-status-results {
    @extend .icon;
    @extend %fa-question-circle;
    color: #ffd351;
    font-size: 2em;
    padding-top: 5px;
}

.quick-order-remove-icon{
    @extend .icon-remove;
    @extend .fa-2x;
    color: $sc-color-primary;
    font-size: 1.7em;
}

.quick-order-status-no-results {
    @extend .icon;
    @extend %fa-info-circle;
    color: #d04437;
    font-size: 2em;
}

.facets-facet-browse-facets{
    overflow: visible !important;
}

/*quick order dropdown*/
.tt-dropdown-menu {
    @media (min-width: $screen-md-min) {
        margin-top: 0;
        max-height: 200px;
        overflow: auto;
    }
}