/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/////////////////////////////////////////////////////////////
//header secondary nav
.header-menu-secondary-nav {
	@extend .container;
}

///////////////////////////////////////////////////////////////
//header search

.header-menu-search {
	float: right;
}

.header-menu-search-link {
	@extend .middle-title-navigable;
	font-size: $sc-h2-font-size;
	background: none;
	padding: $sc-base-padding * 2;
	color: $sc-color-secondary;
	cursor: pointer;
	position: relative;
	line-height: 22px;
}
.header-menu-search-link:hover {
	color: $sc-color-theme-light;
}

.header-menu-search-link.active {
	color: $sc-color-copy;
}

.header-menu-search-icon {
	@extend .fa;
	@extend %fa-search;
	color: $sc-color-tertiary;
}

.header-menu-searchmobile-link {
	@extend .icon-button-secondary;
	margin-right: $sc-base-margin * 2;
	cursor: pointer;
}

.header-menu-searchmobile-link.active {
	background: $sc-color-secondary-active;
}
///////////////////////////////////////////////////////////////
//header maxi menu

.header-menu-level1 {
	margin-left: - $sc-base-padding * 2;
	text-transform: uppercase;
	font-size: $sc-h4-font-size;
	.wf-active & {
		font-family: 'Work Sans', sans-serif;
	}
}

.header-menu-level1 > li {
	float: left;
}

.header-menu-level1-anchor {
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 $sc-base-padding*2;
	margin-right: $sc-base-margin;
	color:$sc-color-tertiary;
	font-weight:$sc-font-weight-semibold;
	text-transform: uppercase;
}

.header-menu-level1-anchor:hover, .header-menu-home-anchor:hover, .header-menu-shop-anchor:hover, .header-menu-home-anchor:focus, .header-menu-shop-anchor:focus {
	color: $sc-color-theme-light;
}

.open .header-menu-level1-anchor {
	color: $sc-color-primary;
}

.header-menu-home-anchor,
.header-menu-shop-anchor{
	@extend .header-menu-level1-anchor;
	color:$sc-color-tertiary;
}

//maxi menu level 2
.header-menu-back {
	display: none;
}

.header-menu-level2 > li {
	float: left;
	width: 20%;
	padding-right: $sc-base-padding * 6;
}

.header-menu-level2-anchor {

	font-weight: $sc-font-weight-semibold;
	color: $sc-color-copy;
	padding-bottom: $sc-base-padding;
	margin-bottom: $sc-base-margin * 2;
	border-bottom: 1px solid $sc-color-theme-border;
	display: block;

	@media (min-width: $screen-md-min) {
		pointer-events: auto;
	}
}
.header-menu-level2-anchor:hover {
	color: blue;
}

//maxi menu level 3
.header-menu-level3-anchor {
	display: block;
	padding: $sc-base-padding 0;
	color:$sc-color-secondary;
}

.header-menu-myaccount-anchor-level3.active {
	color: $sc-color-copy;
}

//container fix for maxi menu on desktop
.header-menu-push-icon, .header-menu-pop-icon {
	display: none;
}

.header-menu-level-container {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	min-height: 150px;
	z-index: 1001;
	padding: $sc-base-padding * 5 0;
	border-bottom: 1px solid $sc-color-theme-border;
	border-top: 1px solid $sc-color-theme-border;
	@include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));

	> li {
		@extend .container;
	}
}

//maxi menu opened
.open .header-menu-level-container {
	display: block;
}

.open .header-menu-level1-anchor:before{
	position: absolute;
	top: 47px;
	left: 50%;
	margin-left: -7.5px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #FFF;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.open .header-menu-level1-anchor:after{
	position: absolute;
	top: 48px;
	left: 50%;
	margin-left: -6.5px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #FFF;
	border-left: 6px solid transparent;
	content: '';
	z-index: 9999;
}