/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-shipmethod-module{
	@extend .box-column; 
	h3{
		margin-bottom: 20px;
	}
}

.order-wizard-shipmethod-module-title{
	margin-bottom: $sc-medium-margin;
}

.order-wizard-shipmethod-module-message{
	@extend .message-info;
}

.order-wizard-shipmethod-module-option-select{
	@extend .input-large;
}

.order-wizard-shipmethod-module-option{
	color: $sc-color-copy;
	display: block;
	padding: $sc-base-padding * 5;
	margin-bottom: $sc-base-margin * 2;
	background-color: $sc-color-theme-background-lightest;
	cursor: pointer;
	font-size: 16px;
   	font-weight: bold;


	.order-wizard-shipmethod-module-option-price{
		color: $sc-color-red;
		float: none;
		text-transform: uppercase;
	}

}

.order-wizard-shipmethod-module-option-active{
	background-color: #fff;
}


.order-wizard-shipmethod-module-checkbox{
	margin-right: $sc-base-margin * 2;
}

.order-wizard-shipmethod-module-option-price{
	float: right;
}

.order-wizard-msr-shipmethod-module-message{
	@extend .message-warning;
}

.order-wizard-msr-shipmethod-package-message-icon{
	@extend .icon-base;
	@extend %fa-exclamation-triangle;
}

.order-wizard-shipmethod-module-option-name{}

.main-delivery-option{
	background: #fff;
    margin-bottom: 20px;
    padding: 0 25px 25px;
    font-size: 14px;

    input[type="checkbox"]{
    	margin-bottom: 12px;
	    position: relative;
	    top: 2px;
    }

    > .order-wizard-shipmethod-module-option{
    	padding: 25px 0;
    	margin-bottom: 0;
    }
}

.order-wizard-paymentmethod-creditcard-module-actions {
	clear:both;
	a {
		background: #0054A1;
	    color: #FFFFFF;
	    &:hover{
	    	background: #0059ab;
	    	color: #fff;
    	}
    }	
}

.order-wizard-submitbutton-container {
	background: $sc-color-theme-background-light !important;
}