/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.home {
  @extend .container;
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
  margin-top:$sc-base-margin * 4;
  margin-bottom:$sc-base-margin * 4;
  @extend .row;
}
.home-image-slider {
  @extend .col-sm-12;}

// start bx-slider specifics
$sc-image-slider-height: 400px;
$sc-image-slider-max-width: 1140px;
$sc-image-slider-max-width-mobile: 767px;

.home-image-slider .bx-wrapper {
  margin-bottom: $sc-base-margin * 8;
}
.home-image-slider .bx-pager-item {
  vertical-align: middle;
}
.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  @media (min-width: $screen-sm-min) {
    margin-top: $sc-base-margin * 2;
  }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  height: $sc-image-slider-height !important;
}
.home-image-slider .bx-viewport ul li {
  overflow:hidden;
}

.home-image-slider .bx-wrapper img {
  margin: auto 0;
  margin-top:$sc-base-margin * 20;
  float:none;

  @media (min-width: $screen-sm-min) {
    max-width: $sc-image-slider-max-width !important;
    float:right;
    margin: 0 $sc-base-margin * 12 0 0;
    width:350px;
  }
}

.home-gallery-prev-icon, .home-gallery-next-icon {
  position: absolute;
  top: 40%;
  width: $sc-target-size-mobile;
  height: $sc-target-size-mobile;
  font-size: 50px;
  color:#c5d7e0;
}

.home-gallery-prev-icon {
  left: $sc-base-margin * 6;
  @extend .icon-angle-left;

}

.home-gallery-next-icon {
  right:10px;
  @extend .icon-angle-right;
}

.home-image-slider .bx-pager {

  a {
    color: $sc-color-theme-light !important;
    background-color: $sc-color-theme-light!important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size:0;
    text-indent:-9999px;
  }
  a.active{
    background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {

  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {

  @media (min-width: $screen-md-min) {
    width: 940px;
    position: absolute !important;
    bottom: $sc-medium-margin;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1140px;
  }
}
// end bx-slider specifics

.home-banner-main {

  h1{
    font-size: 22px;
  }

  margin-bottom:$sc-base-margin * 4;
  @extend .row;



  .home-banner-video{
    @extend .col-sm-4;
    text-align: center;

    p{
      width: 70%;
      text-align: center;
      margin: 0 auto;
    }
  }

  .banner-mini-breakers{
    @extend .col-sm-4;
    text-align: center;
    .banner-breakers{
      width: 70%;
      float: none;
      margin: 10px auto 0;
      display: inline-block;
    }
    
    span{
      float: left;
      margin-right: 10px;
    }
    h3{
      text-align: left;
      text-transform: none;
      line-height: normal;
      color: #0054A1;
    }
    a{
      text-align: center;
      /* display: block; */
      color: #FFFFFF;
      font-weight: 400;
      background: #74C13D;
      display: inline-block;
      border: 1px solid #74C13D;
      padding: 12.5px 49px;
      margin: 20px auto 0;
      width: 60%;
      &:hover {
        background: #7dd240;
      }
    }
  }

  @media(max-width: $screen-md-min){
      h1{
        font-size: 17px;
      }
      a{
        width: 100% !important;
      }
      .banner-breakers{
        width: 100% !important;
      }
    }

    @media(max-width: $screen-sm-min) and (min-width: 580px){
      .home-banner-main-cell-nth1, .home-banner-video, .banner-mini-breakers {
          width: 33%;
          float: left;
      }
      p{
        width: 100% !important;
      }
    }

    @media(max-width: 579px){
      .home-banner-main-cell-nth1, .home-banner-video, .banner-mini-breakers {
          width: 100%;
          margin-bottom: 40px;
          float: left;
      }
      .banner-mini-breakers{
          text-align: center !important;
          span{
            float: none;
          }
          h3{
            text-align: center;
          }
      }
    }

    @media(max-width: 667px){
      .banner-mini-breakers h3 {
          line-height: normal;
          color: #0054A1;
          width: 100%;
          display: block;
          float: left;
          margin-top: 5px;
      }
    }
}

.home-banner-main-cell-nth0{
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align:center;
  margin-bottom:$sc-medium-margin;

  img {
    margin:auto;
    float:left;
    @media (min-width: $screen-sm-min) {
      max-width:100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}

.home-banner-main-cell-nth1{
  .quick-order{
    background: rgba(248,248,248,1);
    padding: 10px 10px 0 10px;
    .quick-order-addline-button {
      padding: 12.5px 28px;
    }
    .quick-order-addline-button, 
    .quick-order-add-to-cart-button {
        width: 100%;
        padding: 11px;
        line-height: 22px;
        i {
          display: none;
      }
    }


    @media(max-width: 991px){
      .quick-order-item-label{
        width: 50%;
        padding-left: 0;
      }
      .quick-order-item{
        width: 50%;
        padding: 0;
      }
      .quick-order-item-quantity {
        padding: 0;

        .quick-order-qty-input {
          width: 30%;
          float: left;
        }
      }
      .quick-order-buttons{
        padding: 10px 0 0px 0;
        .col-md-6{
            width: 48%;
            margin: 0;
            padding-right: 0;
            float: left;
            button{
              float: left;
              clear: both;
              padding: 12.5px 10px;
            }
        }
        .quick-order-addline-button {
          margin-bottom: 10px;
          padding: 12.5px 18px;
        }
      }
      .quick-order-add-line{
        font-size: inherit;
      }
    }

    @media(max-width: 768px){
      padding: 10px;
      .quick-order-buttons{
        padding: 10px 0 0px 0;
        .col-md-6{
            width: 48%;
            margin: 0;
            padding-right: 0;
            float: left;
            button{
              float: left;
              clear: both;
              padding: 12.5px 10px;
            }
        }
        .quick-order-addline-button {
          margin-bottom: 10px;
          padding: 12.5px 18px;
        }
      }
    }

    @media(max-width: 767px){
    .quick-order-buttons{
        .col-md-6{
            width: 100%;
            margin: 0;
            padding-right: 15px;
            button{
              width: 100%;
              //padding: 12.5px 10px;
            }
        }
      }   
    }   
    
    .quick-order-line{
      position: relative;
      .quick-order-remove{
        line-height: inherit;
        position: absolute;
        top: 0;
        right: 0;
         @media(max-width: 991px){
          top: 10px;
          padding: 0;
         }
      }
      @media(max-width: 767px)and(min-width: 580px){
        .quick-order-item{
          width: 40%;
          padding: 0; 
          margin-right: 16px;

          .quick-order-item-input{
            max-width: 70px;
          }
        }
      }
    }

    input{
      outline: none;
    }

  }
}

.home-banner-main-cell-bg{
  background:$sc-color-slide-background;
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text{
  display:inline-block;
  color:$sc-color-theme;
  font-size:$sc-h2-font-size-mobile;
  text-transform:uppercase;
  font-weight:$sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-sm-min) {
    display:none;
  }
}

.home-merchandising-zone {

  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
      display: none;
  }
  .item-cell-main-image {
    margin:0 auto;
    width: $img-medium;
  }
}

.merchandising-zone {
    position: relative;
    .bx-viewport{
        height: 100% !important;
    }
}

.home-slide-main-container{
  background:$sc-color-slide-background;
  overflow:hidden;
  height:400px;
  text-align:center;
  @media (min-width: $screen-sm-min) {
    height:100%;
  }
}
.home-slide-caption{
  position:absolute;
  top:0px;
  width:100%;
  text-align:center;
  padding:$sc-small-margin;
  height:80%;
  @media (min-width: $screen-sm-min) {
    width:50%;
    padding:$sc-base-padding * 8 $sc-base-padding * 12;
    padding-right:0px;
    text-align:left;
    height: auto;
    position: relative;
  }

  h2.home-slide-caption-title{
      margin-bottom:$sc-small-margin;
      font-size:$sc-base-font-size * 2.66;
      line-height: $sc-base-font-size * 2.66;
      color:$sc-color-secondary;
      @media (min-width: $screen-sm-min){
          margin-bottom:$sc-medium-margin;
      }
  }
  p{
    display:none;
    @media (min-width: $screen-xs-min){
      display:block;
      margin-bottom:$sc-medium-margin;
      color:$sc-color-theme;
      font-size:$sc-h2-font-size-mobile;
      text-transform:uppercase;
      font-weight:$sc-font-weight-light;
    }
    @media (min-width: $screen-sm-min){
      font-size:$sc-h2-font-size;
    }
  }

  .home-slide-caption-button-container{
    padding-left:$sc-base-padding *4;
    padding-right:$sc-base-padding *4;
    position:absolute;
    margin-left: -$sc-base-padding *2;
    bottom:-60px;
    width: 100%;
    @media (min-width: $screen-sm-min){
      padding:0;
      margin-left:0;
      margin-right:0;
      position:relative;
      bottom:0px;
    }
  }

  .home-slide-caption-button{
    @extend .button-primary;
    @extend .button-large;
    @media (min-width: $screen-xs-min){
      width: auto;
      position:relative;
    }
  }
}
.merchandising-zone {
  p.item-description {
    font-size: 12px;
    padding: 0 15px;
    margin: 5px 0;
    line-height: 1.3em;
  }

  h3 {
    margin: 0;
    padding: 0;
  }
}

%activeTab{
  background: rgba(95,95,95,1);
  background: -moz-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(38,36,39,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,95,95,1)), color-stop(100%, rgba(38,36,39,1)));
  background: -webkit-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(38,36,39,1) 100%);
  background: -o-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(38,36,39,1) 100%);
  background: -ms-linear-gradient(top, rgba(95,95,95,1) 0%, rgba(38,36,39,1) 100%);
  background: linear-gradient(to bottom, rgba(95,95,95,1) 0%, rgba(38,36,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#262427', GradientType=0 );
  color: #fff;
}

// Home Slider Tabs
.home-slider-container{
  display: none;
  margin: 20px 0;
  @media (min-width: $screen-md-min) {
    display: block
  }
  .row{
    margin:0;
  }
  .nav-tabs,
  .tab-content{
    padding: 0;
  }
  .nav-tabs{
    max-height: 382px;
    overflow: hidden;
    li{
      &.active{
        a{
          @extend %activeTab;
        }
      }
      a{
        width: 100%;
        padding: 10px;
        display: block;
        padding: 0 20px;
        font-size: 14px;
        position: relative;
        text-transform: uppercase;
        background: rgba(253,253,253,1);
        background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(219,219,219,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(219,219,219,1)));
        background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(219,219,219,1) 100%);
        background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(219,219,219,1) 100%);
        background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(219,219,219,1) 100%);
        background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(219,219,219,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dbdbdb', GradientType=0 );

        &:hover{
          @extend %activeTab;
        }
        &:before{
          content:'';
          position: absolute;
          top: 42px;
          right: 15px;
          width: 0; 
          height: 0; 
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 12px solid #c1c1c1;

        }
        @media (min-width: $screen-md-min){
            height: 79px;
            line-height: 12px;
            &:before{
              top: 34px;
            }
        }
        @media (min-width: $screen-lg-min){
            height: 96px;
            line-height: 96px;
            &:before{
              top: 42px;
            }
        }
      }
    }
  }
  .tab-content{
    .home-slide-item{
      width: 100%;
    }
  }
}
.tab-pane{
    display: none;
}
.tab-pane.active{
    display: block;
}
.home-merchandising-zone {
  .bx-wrapper {
    img {
      max-width: 175px;
    }
  }


}
.home-page{
  .bx-controls.bx-has-controls-direction{
    a.item-details-carousel-prev, a.item-details-carousel-next{
      background: black;
      border: none;
      color: white;
      font-size: 20px;
      height: 32px;
      line-height: 32px;
      padding: 0;
      width: 32px;
      text-align: center;
    }
  }
}