/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cms-landing-page {	
  @extend .container;
}
.cms-landing-page-row {
	@extend .row; 
	z-index: 0;
	position: relative;

	h1{
		color: #0054A1;
		margin: 30px 0 20px;
	}
}
.cms-landing-page-row-full-col {
	@extend .col-md-12; 
}

// Side Bar Landings

.side-bar-landings{
	margin: 0 0 20px 0;
	li {

		&.open{

		}
		float: none;
		> span{
			outline: none;
			background: #0054A1;
		    color: #fff;
		    font-weight: normal;
		    text-align: center;
		    text-transform: uppercase;
    		line-height: normal;
		    padding: 13px 0;
		    color: #fff;
		    height: auto;
		    &:hover,
		    &:focus{
		    	color: #fff;
		    }

		    .icon-arrow-dropdown{
		    	visibility: hidden;
		    }

		    @media(max-width: 767px){
		    	padding-left: 15px;
		    	text-align: left;

		    	.icon-arrow-dropdown{
			    	float: right;
				    position: relative;
				    right: 15px;
				    visibility: visible;
			    }
		    }
		}


		ul{ 
			width: 100%;
			box-shadow: none;
			background: #f8f8f8;
			margin-top: 0;
			border: 0;
			padding: 0;
			li{
				padding: 0;
			    font-size: 15px;
			    display: block;
			    text-transform: uppercase;
			    border-bottom: 1px solid #fff;
			    &:hover{
			    	background: #e9e6e6;
			    }	
			    a{
			    	white-space: normal;
			    	padding: 8px 15px;
			    	&:hover{
			    		background: transparent;
			    	}
			    }
			}
		}	
	}
}


// About Us

.company-video{
	p{
		margin-top: 10px;
	}
}

.main-box-two{

	.col-md-6{
		padding-left: 0;
		margin-bottom: 0;
		@media(max-width: 767px){
			margin-bottom: 15px;
			h5{
				margin: 0 0 10px;
				&.power{
					margin: 0;
				}
			}
		}
	}

	.first-box{
		overflow: hidden;
		margin-bottom: 0;
		img {
	    	width: 4%;
	    	@media(max-width: 767px) and (min-width: 481px){
	    		width: 2%;
	    	}
	    	@media(max-width: $screen-xs-min){
	    		width: 3%;
	    	}
	    	@media(max-width: 320px){
	    		width: 4%;
	    	}
    	}

    	h5{
    		border: 1px solid #e9e6e6;
		    border-bottom: 0;
		    border-radius: 3px 3px 0 0;
		    text-align: center;
		    padding: 13px;
		    margin: 0;

		    &.power{
				color: #000;
				margin: 0;
				border: 0;
				padding: 0;
				border: 0;
				text-align: left;
			}
    	}
	}
	h5{
		color: #74C13D;
    	margin: 0 30px 10px;
    	@media(max-width: $screen-sm-min){
    		margin: 0 0 10px;
    	}
	}
	.power{
		color: #000;
		margin: 0;
	}
	marquee{
		background-color: white;
	    height: 75px; 
	    span{
	    	color: #74C13D;
	    }
	}

	div{
		margin-bottom: 20px;
	}

	img {
	    width: 2%;
	    position: relative;
	    top: 1px;

    	@media(max-width: $screen-xs-min){
    		width: 3%;
    	}

		@media(max-width: 320px){
    		width: 4%;
    	}    	
	}

	.runText{
		margin-bottom: 0;
	    border: 1px solid #e9e6e6;
	    border-top: 0;
	    border-radius: 0 0 3px 3px;
	    padding: 0 12px 12px;
	}
}

.fast-free-shipping{
	border-top: 1px solid #e9e6e6;
    border-bottom: 1px solid #e9e6e6;
    margin: 30px 0;
    overflow: hidden;
    padding: 20px 0;
    text-align: right;

 	h1{
 		margin-top: 0;
 	}

 	span{
 		img {
		    width: 3%;
		    position: relative;
		    top: 1px;
		}
 	}
 	p{
 		margin-bottom: 10px;
 	}
 	.col-sm-4{
	 	@media(max-width: $screen-sm-min){
	 		float: left;
	 	}
	 	@media(max-width: $screen-xs-min){
	 		float: none;
	 		text-align: center;
	 		margin-bottom: 20px,
	 	}
 	}
 	.col-sm-8{
 		text-align: left;
 	}
}

.company-catalog{
	h1{
		margin-top: 0;
	}
	margin-bottom: 30px;
	overflow: hidden;

	.col-md-5{
		@media(max-width: $screen-sm-min) and (min-width: $screen-xs-min){
			width: 40%;
			float: right;
		}
		@media(max-width: $screen-xs-min){
	 		text-align: center;
	 		margin: 20px 0;
	 	}
	}
	.col-md-7{
		@media(max-width: $screen-sm-min) and (min-width: $screen-xs-min){
			width: 60%;
			float: left;
		}
	}
}

// Contact US

.contact-icons{
	overflow: hidden;
    margin: 40px 0;

	.item-contact{
		text-align: center;
		min-height: 170px;
		margin-bottom: 30px;

		img{
			clear: both;
		    display: block;
		    margin: 0 auto 15px;
		    max-width: 150px;
		}

		&:last-child{
			float: none; 
			margin: 0 auto;
			overflow: hidden;
		}

		a{
			text-decoration: underline;
			color: #74C13D;
			&:hover{
				text-decoration: none;
			}
		}

		@media(max-width: 767px){
			min-width: 33%;
		    float: left;

		    &:last-child{
				float: none; 
			}
		}

		@media(max-width: 568px) and (min-width: $screen-xs-min){
			min-width: 50%;
		    float: left;

		    &:last-child{
				float: none; 
			}
		}

		@media(max-width: 479px){
			min-width: 100%;
		    float: left;

		    &:last-child{
				float: none; 
			}
		}
	}

}

//Returns Policy

.main-video{
	.left-video{
		text-align: center;
	    padding: 30px 0;
	    margin-bottom: 10px;
	    
	    img{
	    	margin-bottom: 10px;
	    }
	}

	.right-video{
		a{
			color: #74C13D;
		}
	}

	@media(max-width: 768px){
	    .rp-video{
	    	span{
	    		display: block;
	    	}
	    }
	    .col-md-7, .col-sm-7{
			padding: 0;
		}
	}
	
}
.main-text{
	float: left;
	line-height: 18px;
	margin-bottom: 40px;

	h5{
		margin: 20px 0 10px;
	}

	li{
		list-style: initial;
    	margin-left: 30px;
	}
}




@media (min-width: $screen-md-min) { 
	.side-bar-landings .dropdown {
		.header-menu-shop-anchor {
			color: #fff;
		}
		> ul.header-menu-level2.dropdown-menu {
	 	   display: block;
		}
	}
}
@media (max-width: $screen-md-min) { 
	.side-menu {
	    display: none;
	}
	[data-cms-area="cms-main-menu-left"] {
	    display: none;
	}
}
.cms-content .desktop {
	@media(max-width: $screen-xs-min){
		display: none;
	}
}
.cms-content .mobile {
	display:none;
	@media(max-width: $screen-xs-min){
		display: block;
	}
}

