/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-category-cell {
		
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: $sc-base-margin * 2;
		padding-right: $sc-base-margin * 2;
		text-align: center;
		margin-bottom: $sc-base-margin * 6;
		width: 50%;

		@media (min-width: $screen-md-min) {
			width: 25%;
		}

		@media (max-width: 375px){
			width: 100%;
		}
		.facets-category-cell-title{
			text-align: center;
			padding: $sc-base-padding * 2 $sc-base-padding * 0;
		}
		a.facets-category-cell-anchor {
			display: block;
			text-align: center;
			font-weight:700;
			img{
				max-width: 150px;
			}
		}
		.facets-category-cell-description {
			text-align: center;
			font-size: 12px;
			b {
			    color: inherit;
			}
			ul li:before {
			    content:'• ';
			    position: relative;
			    left: -5px;
			}
			ol li {
			    list-style-type: decimal;
			}

		} 

}

.facets-category-cell-thumbnail {
	width: 100%;
    text-align: left;
    float: left;
}

.facets-category-cell-image {
	width: 100%;
  	height: auto;
}




.box-right{
	float: right;
    .generic-button{
    	margin-top: $sc-base-margin * 5 + 3;
    }
}

.facets-item-cell-list{
	.facets-item-cell-list-item{
		a.facets-item-cell-list-anchor{
			display: block;
			text-align: center;
			img{
				width: 75px;
			}
		}
	}
}