/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-item-range-facet-group {
	@extend .facets-faceted-navigation-facet-group;
	padding: 0px !important;
}

.facets-faceted-navigation-item-range-facet-group-expander {
	@extend .facets-faceted-navigation-facet-group-expander;
}

.facets-faceted-navigation-item-range-filter-delete {}

.facets-faceted-navigation-item-range-filter-delete-icon {}

.facets-faceted-navigation-item-range-facet-group-wrapper {
	padding-top: $sc-base-padding * 2;
	padding-left: $sc-base-padding * 4;
	padding-right: $sc-base-padding * 4;

	@media(min-width: $screen-md-min){
		padding: 0;
	}
}

.facets-faceted-navigation-item-range-facet-group-expander-icon {
	@extend .facets-faceted-navigation-facet-group-expander-icon;
}

.facets-faceted-navigation-item-range-facet-group-title {
	@extend .facets-faceted-navigation-facet-group-title;
}

.facets-faceted-navigation-item-range-facet-option {
	@extend .facets-faceted-navigation-facet-option;
}

.facets-faceted-navigation-item-range-facet-option-circle {
	@extend .facets-faceted-navigation-facet-option-circle;
}

.facets-faceted-navigation-item-range-start {
	color:$sc-color-secondary;
}

.facets-faceted-navigation-item-range-end {
	color:$sc-color-secondary;
	float:right;
}

.facets-faceted-navigation-item-range-slider {
	@extend .price-range-slider;
}

.facets-faceted-navigation-item-range-slider-bar {
	@extend .price-range-slider-bar;
}

.facets-faceted-navigation-item-range-slider-bar-right {
	@extend .price-range-slider-bar-right;
}

.facets-faceted-navigation-item-range-slider-bar-left {
	@extend .price-range-slider-bar-left;
}

.price-range-slider-bar {
	background-color: $sc-color-primary;
	height: 3px;
}




@media(max-width: $screen-md-min){
	#facet-browse .facets-facet-browse-facets {
	    overflow: auto!important;	
	    div[data-view="Facets.FacetedNavigationItems"] {
		    padding: 15px;
		}
	}

}
.facets-faceted-navigation-item-range-facet-group-wrapper{
	padding-top: 0 !important;
	.custom-input-range-container{
		padding-top: 20px;
		padding-bottom: 5px;
		div.custom-input-range{
			float: left;
			width: calc(50% - 10px);
			&:first-of-type{
				margin-right: 20px;
			}
			label{
				width: 35px;
				display: inline-block;
				float: left;
				line-height: 27px;
			}
			input{
				width: calc(100% - 35px);
				line-height: 25px;
				padding: 0 8px;
				border: 1px solid black;
				text-align: center;
			}
			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin: 0;
			}
			input[type=number] {
				-moz-appearance: textfield;
				padding: 0;
			}
			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				color:    #c9c9c9;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color:    #c9c9c9;
				opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
				color:    #c9c9c9;
				opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color:    #c9c9c9;
			}
		}
	}

}

.facets-faceted-navigation-item-range-facet-group[data-facet-id="pricelevel5"]{
	.facets-faceted-navigation-item-range-facet-group-wrapper{
		padding-top: 20px !important;
	}
}

