/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/



.facets-category-browse {
	margin-right: auto;
	margin-left: auto;
	padding-left: $sc-base-padding * 3;
	padding-right: $sc-base-padding * 3;
}
.facets-category-browse-facets {

	@extend .facets-facet-browse-facets;
	webkit-box-shadow: none !important;
   	moz-box-shadow: none !important;
   	box-shadow: none !important;
}

.facets-category-browse-navigation {}

.facets-category-browse-header h1 { }

.facets-category-browse-banner-left-top {}

.facets-category-browse-title {font-size: 34px;}

.facets-category-browse-facets-list-wrapper {
		display: none;

	@media (min-width: $screen-md-min) {
		display: inherit;
		}
	
}
.facets-category-browse-results {
	@extend .facets-facet-browse-results
}

.category-main-image {


	@media (max-width: 991px) {
		display: block;
		width: 100%;
		img{
			display: none;
		}
		h1{
			width: 100%;
		}
	}

	h1{
		text-transform: none;
		margin-bottom: 20px;
	}
	
}
.category-main-description {


	@media (max-width: 991px) {
		width: auto;
		margin: 0;
	}
}
.category-main-description h3 {
	text-transform: none;
	font-weight: normal;
}
.category-list-header {
	display: table;
	padding-bottom: $sc-base-padding * 3;
	/*margin-bottom: $sc-base-margin * 4;
	@media (min-width: $screen-md-min) {
		width: 75%;
		float: right;
	}*/
}

.category-list-container {
	//border-top: $sc-color-theme-border 1px solid;
	margin-top: $sc-base-margin * 3;
/*	@media (min-width: $screen-md-min) {
		width: 75%;
		float: right;
	}*/
}


.category-list-collection-view-row {
	margin-top: $sc-base-margin * 2;
	display: table;
	width:100%;

}

.facet-name-custom{
	color: black;
	font-weight: 600;
}

/*
@media (min-width: 992px) {
	.facets-category-browse {
	width: 970px
}
}
@media (min-width: 768px) {
	.facets-category-browse {
	width: 750px;
	}


}
@media (min-width: 1200px) {
	.facets-category-browse {
	width: 1170px;
}
.facets-category-cell {
	width: 25%
}
}*/
.facets-facet-browse-facets{
	@media(min-width: 992px){
		margin-top: -22px;
	}
}


.side-long-banner-container{
	a{
		@extend .clearfix;
		img{
			float: left;
		}
	}
}

.banner-breadcrumb-top{
	margin-bottom: 15px;
}
h3.facets-faceted-navigation-title{
	padding: 0;
	line-height: normal;
	margin-bottom: 0;
}

.facets-facet-browse-header{
	padding-bottom: 10px;
}
section.category-list-header{
	padding-bottom: 0;
	h1{
		margin-bottom:4px;
	}
}

ul.facets-faceted-navigation-item-category-facet-optionlist{
	@extend .clearfix;
	margin-bottom: 37px;
}
.facets-facet-browse-narrowedby{
	padding: 18px 10px 21px 10px;
	line-height: normal;
}
.facets-facet-browse-price-content-column{
	.facets-facet-browse-qty-column{
		height: 37px;
		line-height: 37px;
		padding: 0 !important;
	}
	.facets-facet-browse-stock-column, .facets-facet-browse-addtocart-column{
		height: 37px;
		line-height: 1.3;
		padding: 6px 10px !important;
	}
}

.clear-link-container{
	text-align: right;
	margin-top: 1px;
	margin-bottom: 3px;
	a.facets-faceted-navigation-facets-clear{
		margin: 0;
	}
}



/*.facets-category-browse-content {
	nav.facets-category-browse-facets {
	    min-height: 0;
	    margin: 0;
	}

	.facets-category-browse-results {
	    float: none;
	    margin: 0 auto 30px;
	}
}


div#cms-landing-page.no-sidebar {
	.col-md-3 {
	    display: none;
	}

	.col-md-9 {
	    float: none;
	    margin: 0 auto 30px;
	}
}*/