/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.orderwizard-backorder-modal {
	@extend .row;
}
.orderwizard-backorder-modal-img{
	@extend .col-sm-4;
}
.orderwizard-backorder-modal-details {
	@extend .col-sm-8;
}
.orderwizard-backorder-modal-item-name {
	@extend .medium-title-navigable;
	margin-bottom: $sc-base-padding * 3;
	display: inline-block;
}
.orderwizard-backorder-modal-price {
	@extend .middle-price;
}
.orderwizard-backorder-modal-sku{
	@extend .item-details-sku-container;
}
.orderwizard-backorder-modal-sku-label{
	@extend .sc-label-sku;
}
.orderwizard-backorder-modal-sku-value{
	@extend .sc-value-sku;
}
.orderwizard-backorder-modal-quantity-label{
	@extend .sc-label;
}
.orderwizard-backorder-modal-quantity-value{
	@extend .sc-value;
}
.orderwizard-backorder-modal-actions {
	margin-top: $sc-base-padding * 3;
}
.orderwizard-backorder-modal-view-cart{
	@extend .col-sm-6;
	padding-left: 0;
	padding-right: 0;

	@media (min-width: $screen-md-min) {
		padding-right: $sc-base-padding;
	}
}
.orderwizard-backorder-modal-continue-shopping {
	@extend .col-sm-6;
	padding-right: 0;
	padding-left: 0;

	@media (min-width: $screen-md-min) {
		padding-left: $sc-base-padding;
	}
}
.orderwizard-backorder-modal-view-orderwizard-button {
	@extend .button-primary;
	@extend .button-large;
	width: 100%;
 	font-weight: $sc-font-weight-semibold;
 	margin-top: $sc-base-margin * 3;
	border: 1px solid $sc-color-primary;
	text-align: center;
}
.orderwizard-backorder-modal-view-orderwizard-button:disabled{
	border: 1px solid #f79d7e;
}
.orderwizard-backorder-modal-continue-shopping-button {
	@extend .button-tertiary;
	@extend .button-large;
	width: 100%;
	margin-top: $sc-base-margin * 3;
	font-weight: $sc-font-weight-semibold;
	border: 1px solid $sc-color-theme;
}

.orderwizard-backorder-modal-options{}
.orderwizard-backorder-modal-quantity-number{}
