{{!
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

{{#if showFacet}}
	<div class="." id="{{htmlId}}" data-type="rendered-facet" data-facet-id="{{facetId}}">
		{{#if showHeading}}
			{{#if isUncollapsible}}
				<div class="facets-faceted-navigation-item-facet-group-expander">
					<h4 class="facets-faceted-navigation-item-facet-group-title">
						{{facetDisplayName}}
						{{#if showRemoveLink}}
						<a class="facets-faceted-navigation-item-filter-delete" href="{{removeLink}}">
							<i class="facets-faceted-navigation-item-filter-delete-icon"></i>
						</a>
						{{/if}}
					</h4>
				</div>
			{{else}}
				<a href="#" class="facets-faceted-navigation-item-facet-group-expander {{#if isCollapsed}} collapsed {{/if}}" data-toggle="collapse" data-target="#{{htmlId}} .facets-faceted-navigation-item-facet-group-wrapper" data-type="collapse" title="{{facetDisplayName}}">
					<i class="facets-faceted-navigation-item-facet-group-expander-icon"></i>
					<h4 class="facets-faceted-navigation-item-facet-group-title">{{facetDisplayName}}</h4>
					{{#if showRemoveLink}}
						<a class="facets-faceted-navigation-item-filter-delete" href="{{removeLink}}">
							<i class="facets-faceted-navigation-item-filter-delete-icon"></i>
						</a>
					{{/if}}
				</a>
			{{/if}}
		{{/if}}

		<div class="{{#if isCollapsed}} collapse {{else}} collapse in {{/if}} facets-faceted-navigation-item-facet-group-wrapper">
			<div class="facets-faceted-navigation-item-facet-group-content">
				<ul class="facets-faceted-navigation-item-facet-optionlist">
					{{#each displayValues}}
						<li>
							<a class="facets-faceted-navigation-item-facet-option {{#if isActive}}option-active{{/if}}" href="{{link}}" title="{{label}}">
								{{#if ../isMultiSelect}}
									<input type="checkbox" class="facets-faceted-navigation-item-facet-multi" {{#if isActive}}checked {{/if}} />
								{{/if}}

								{{displayName}}
								
								{{#unless ../isMultiSelect}}
									{{#if isActive}}
										<i class="facets-faceted-navigation-item-facet-option-circle"></i>
									{{/if}}
								{{/unless}}
							</a>
						</li>
					{{/each}}
				</ul>				
				{{#if showExtraValues}}
					<ul class="facets-faceted-navigation-item-facet-optionlist-extra collapse {{#if showExtras}}in{{/if}}">
						{{#each extraValues}}
							<li>
								<a class="facets-faceted-navigation-item-facet-option {{#if isActive}}option-active{{/if}}" href="{{link}}" title="{{label}}">
									{{#if ../../isMultiSelect}}
										<input type="checkbox" class="facets-faceted-navigation-item-facet-multi" {{#if isActive}}checked {{/if}} />
									{{/if}}

									{{displayName}}
									
									{{#unless ../../isMultiSelect}}
										{{#if isActive}}
											<i class="facets-faceted-navigation-item-facet-option-circle"></i>
										{{/if}}
									{{/unless}}
								</a>
							</li>
						{{/each}}
					</ul>
					<div class="facets-faceted-navigation-item-optionlist-extra-wrapper">
						<button class="facets-faceted-navigation-item-optionlist-extra-button" data-toggle="collapse" data-target="#{{htmlId}} .facets-faceted-navigation-item-facet-optionlist-extra" data-action="see-more">
							<span data-type="see-more" class="{{#if showExtras}}facets-faceted-navigation-item-alt-caption{{/if}}">
								{{translate 'See More'}}
							</span>
							<span data-type="see-less" class="{{#unless showExtras}}facets-faceted-navigation-item-alt-caption{{/unless}}">
								{{translate 'See Less'}}
							</span>
						</button>
					</div>
				{{/if}}
			</div>
		</div>

	</div>
{{/if}}