{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="facets-category-cell">
	<div class="facets-category-cell-title box-left">
		<a href="{{url}}" class="facets-category-cell-anchor">
			{{label}}
		</a>
	</div>
	
	<div class="facets-category-cell-thumbnail">
		<a href="{{url}}" class="facets-category-cell-anchor">
			<img src="{{image}}" alt="{{label}}" class="facets-category-cell-image">
		</a>
	</div>

	<div class="facets-category-cell-description">
		{{{briefDescription}}}
	</div>


</div>