/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.knowledge-base-container, .newsroom-container {
  @extend .container;
  margin-bottom: 60px;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 360px;
  position: relative; 
  z-index: 0;

  .topic-list-title {
    margin-left: 115px;
  }
}

.header-divider {
  border-top: 4px solid #006cb7;
  margin: 10px 0;
}

.topic-row {
  min-height: 40px;
  margin: 20px 0;
}

.topic-page, .newsroom-page {
  .table {
    margin-top: 10px;
  }
  .table-header {
    background: #006cb7;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    font-weight: normal;
  }
}

.solution-page, .newsroom-details-page {
  .label {
    font-weight: bold;
  }
  .details-row {
    margin: 16px 0;
  }
  .links-container {
    background: #f8f9fa;
    border-left: 2px solid #a9a9a9;
  }
  .link {
    min-height: 80px;
    text-align: center;
    border-bottom: 1px solid #bcbdbe;
    margin: 20px 10px;
  }
  .header-divider {
    margin-bottom: 0;
  }
}

.sub-categ {
  padding-left: 24px !important;
}

.solution-list-table .link-icon {
  padding: 6px;
}

.newsroom-list-container {
  hr {
    height: 2px;
    background-color: #c9c9c9;
  }
  .list-row {
    padding: 5px 0;

    .title a {
      font-weight: bold;
      text-decoration: underline;
    }
    .brief-description {
      .more {
        text-decoration: underline;
      }
    }
  }
}

.newsroom-header-img {
  width: 100%;
}