/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

/////////////////////////////////////////////////////////////
//header secondary nav
.header-menu-secondary-nav {
    @extend .container;
}

///////////////////////////////////////////////////////////////
//header search

.header-menu-search {
    float: right;
}

.header-menu-search-link {
    @extend .middle-title-navigable;
    font-size: $sc-h2-font-size;
    background: none;
    padding: $sc-base-padding * 2;
    color: $sc-color-secondary;
    cursor: pointer;
    position: relative;
    line-height: 22px;
}
.header-menu-search-link:hover {
    color: $sc-color-theme-light;
}

.header-menu-search-link.active {
    color: $sc-color-copy;
}

.header-menu-search-icon {
    @extend .fa;
    @extend %fa-search;
    color: $sc-color-tertiary;
}

.header-menu-searchmobile-link {
    @extend .icon-button-secondary;
    margin-right: $sc-base-margin * 2;
    cursor: pointer;
}

.header-menu-searchmobile-link.active {
    background: $sc-color-secondary-active;
}
///////////////////////////////////////////////////////////////
//header maxi menu

.header-menu-level1 {
    text-transform: uppercase;
    font-size: $sc-h4-font-size;
    .wf-active & {
        font-family: 'Work Sans', sans-serif;
    }
}

.header-menu-level1 > li {
    float: left;
}

.header-menu-level1-anchor {
    display: block;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 $sc-base-padding*2;
    color:$sc-color-tertiary;
    font-weight:$sc-font-weight-semibold;
    text-transform: capitalize;
    outline: none;
}
.header-menu-level2{
    .header-menu-level1-anchor{
        height: 30px;
        line-height: 30px;
    }
}

.header-menu-level1-anchor:hover, .header-menu-home-anchor:hover, .header-menu-shop-anchor:hover, .header-menu-home-anchor:focus, .header-menu-shop-anchor:focus {
    color: $sc-color-theme-light;
}

.open .header-menu-level1-anchor {
    color: $sc-color-primary;
}

.header-menu-home-anchor,
.header-menu-shop-anchor{
    @extend .header-menu-level1-anchor;
    color:$sc-color-tertiary;
}

//maxi menu level 2
.header-menu-back {
    display: none;
}

.header-menu-level2 > li {
    width: 100%;
}
.header-menu-level2{
    margin-top: -3px;
    padding-top: 0px;
    border-radius: 0;
}
.header-menu-level2-anchor {

    font-weight: $sc-font-weight-semibold;
    color: $sc-color-copy;
    padding-bottom: $sc-base-padding;
    border-bottom: 1px solid $sc-color-theme-border;
    display: block;

    @media (min-width: $screen-md-min) {
        pointer-events: auto;
    }
}
.header-menu-level2-anchor:hover {
    color: blue;
}

//maxi menu level 3

@media (max-width: $screen-md-min) {
    .header-menu-level3-anchor {
        background: lightgray;
        padding-left: 30px !important;
        font-size: 12px !important;
    }
}

.header-menu-myaccount-anchor-level3.active {
    color: $sc-color-copy;
}

//container fix for maxi menu on desktop
.header-menu-push-icon, .header-menu-pop-icon {
    display: none;
}

.cms-custom-main-menu{

    .dropdown{
        float: left;
    }

    .header-menu-level-container {
        background-color: #fff;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 160px;
        //min-height: 150px;
        z-index: 1001;
        padding: $sc-base-padding * 5 0;
        border-bottom: 1px solid $sc-color-theme-border;
        border-top: 1px solid $sc-color-theme-border;
        @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));

        > li {
            @extend .container;
        }

        .dropdown{
            width: 100%;
            padding: 0;
            .header-menu-level2{
                margin-top: 0;
                padding-bottom: $sc-base-padding;
                .header-menu-level2-anchor{
                    white-space: nowrap;
                    padding: $sc-base-padding - 2 $sc-base-padding*5 $sc-base-padding - 2 $sc-base-padding*2 + 3;
                    text-transform: capitalize;
                    font-weight: normal;
                    border-bottom: 0;
                    font-size: $sc-small-font-size + 1;

                    &:hover{
                        text-decoration: none;
                        color: $sc-color-copy;
                        background-color: $sc-color-background-main-menu;
                    }
                }  
            }
        }
    }

}

//maxi menu opened
.open .header-menu-level-container {
    display: block;
    top: 38px;
    padding: 0;
    border-top: 0;

    .header-menu-level2-anchor{
        height: 30px;
        line-height: 30px;
        color: $sc-color-primary;
    } 
}


// .open .header-menu-level1-anchor:before{
//  position: absolute;
//  top: 47px;
//  left: 50%;
//  margin-left: -7.5px;
//  display: inline-block;
//  border-right: 7px solid transparent;
//  border-bottom: 7px solid #FFF;
//  border-left: 7px solid transparent;
//  border-bottom-color: rgba(0, 0, 0, 0.2);
//  content: '';
// }

// .open .header-menu-level1-anchor:after{
//  position: absolute;
//  top: 48px;
//  left: 50%;
//  margin-left: -6.5px;
//  display: inline-block;
//  border-right: 6px solid transparent;
//  border-bottom: 6px solid #FFF;
//  border-left: 6px solid transparent;
//  content: '';
//  z-index: 9999;
// }



//dropdown

.dropdown-submenu {
    position: relative;
    .dropdown-menu{
        left: 100%;
    }
}
.dropdown-menu>li>a{
    padding: 3px 20px 3px 13px;
    text-transform: capitalize;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    margin-top: 0;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
}

@media(min-width: $screen-md-min){
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
}

.dropdown-submenu > a.has-submenu:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 7px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a.has-submenu:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.open {
    .header-profile-menu-myaccount-container{
        padding-bottom: 15px;
        padding-left: 30px;
}

}
.header-profile-menu-myaccount-container {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 150px;
    z-index: 1001;
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);

}
.cms-custom-phone-number{
    color: white;
    float: right !important;
    i.phone-icon-custom{
        @extend .fa;
        @extend %fa-phone;
        display: inline-block;
        color: $sc-color-primary;
        padding: 10px;
    }
    span.number{
        color: $sc-color-primary;
    }
}
ul.header-menu-level1.navbar-nav li.cms-custom-main-menu div > li.dropdown{
    a.header-menu-level1-anchor{
        padding: 0 14px;
        height: 39px;
        border-left: 1px solid #5a5a5a;
        i.arrow-down{
            @extend .fa;
            @extend %fa-angle-down;
            display: inline-block;
            color: #74C13D;
            padding-left: 5px;
            font-size: 22px;
        }
    }
    &:last-of-type{
        a.header-menu-level1-anchor{
            border-right:1px solid #5a5a5a;
            height: 39px;
        }
    }
}
ul.header-menu-level1.navbar-nav{
    margin-left: -1px;
    a.header-menu-shop-anchor{
        padding: 0 14px;
        height: 39px;
        border-left: 1px solid #5a5a5a;
        i.arrow-down{
            @extend .fa;
            @extend %fa-angle-down;
            display: inline-block;
            color:#74C13D;
            padding-left: 5px;
            font-size:22px;
            vertical-align: middle;
            height: 25px;
        }
    }
}

.product-reviews-form-new{
    .global-views-star-rating-area-writable{
        button{
            width: 25px;
            height: 25px;
        }
    }
    .global-views-star-rating-area-filled{
        i.global-views-star-rating-filled{
            height: 25px;
            line-height:25px;
        }
    }
}




@media (max-width: $screen-md-min) {
    .dropdown-submenu>a.has-submenu:after {
        content: none;
    }

    .dropdown > .header-menu-level2 i.header-sidebar-menu-push-icon.cms {
        position: absolute;
        top: 11px;
    }
}


