/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cart-confirmation-modal {
  height: 70px;
}

.global-views-modal-small {
  width: 189px;
  text-align: center;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;

	> div {
    padding: 32px;
	}

	h2 {
    font-size: 20px;
    text-align: center;
    max-width: 110px;
    margin: 0 auto;
    line-height: 22px;
	}

	button.global-views-modal-content-header-close {
	    display: none;
	}

	div#modal-header {
	    margin-bottom: 18px;
	}
}
